@use "./styles/button.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:aliceblue;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    font-family: Inter, sans-serif;

    padding-top: 22px;
}

.background-video {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -2;
}

.video-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0);

    z-index: -1;
}